<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxGrqRrvOnhXzuPdypPK5Tuz3T3TsBotE</string>
	<key>GCM_SENDER_ID</key>
	<string>898684700308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssafy.yoyak</string>
	<key>PROJECT_ID</key>
	<string>yoyak-4800c</string>
	<key>STORAGE_BUCKET</key>
	<string>yoyak-4800c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898684700308:ios:8048db6a4df3c8fd7d5681</string>
</dict>
</plist>